<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/stylesheets/about.css">
</head>
<body>
    <%- include('../partials/header'); %>
    
    <div class="content">
        <div class="about">
            <h1>Sobre mí</h1>
            <br>
            
            <br>

            <p>Mi nombre es <span class="brown">Yordi Vargas,</span> nací el 16 de septiembre del 2002 en República Dominicana.</p>
            <br>
            <p>Desde niño me la pasaba mayor parte del tiempo jugando en mi ordenador, aunque también en el exterior con mis amigos pero era menos frecuente.</p>

            <br>

            <p>Pocos años después me fuí interesando por otras cosas, tenía curiosidad en entender como funcionan ciertas cosas que utilizaba y como podría formar parte de ello y elaborarlas por mi cuenta, a los 11 años me interesé en crear una páginas web, primero utilicé CMS, luego <span class="brown">HTML</span> y desde ese entonoces no he dejado de aprender.</p>


            <br>
            <p>
                Actualmente, en el momento en que redactó este mensaje soy un estudiante universitario y autodidacta que trabaja a diario para ampliar sus conocimientos en este mundo de la tecnología y poder crear cosas de utilidad con un aporte significativo.
            </p>
            

        </div>

    </div>


    <!-- Scripts -->
    <script src="/javascripts/DarkMode.js"></script>
</body>
</html>