<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GabrielJ - Porfolio</title>
    <!-- RESET CSS -->
    <link rel="stylesheet" href="../assets/reset.css">
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap" rel="stylesheet">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="../assets/style.css">
    <link rel="stylesheet" href="../assets/about.css">
</head>
<body>
    <div class="header">
        <div class="content">
            <div class="logo">
                <a href="../index.html">GabrielJ<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" class="feather feather-code"><polyline points="16 18 22 12 16 6"></polyline><polyline points="8 6 2 12 8 18"></polyline></svg></a>
            </div>
            <div class="nav">
                <ul class="list">
                    <li><a href="./blog.html">Blog</a></li>
                    <li><a href="./courses.html">Cursos</a></li>
                    <li><a href="./about.html">Sobre mí</a></li>
                </ul>
            </div>
            <div class="darkMode" title="Dark Mode">
                <svg xmlns="http://www.w3.org/2000/svg" class="moon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
            </div>
        </div>
        
    </div>
    
    <div class="content">
        <div class="about">
            <h1>Sobre mí</h1>
            <br>
            
            <br>

            <p>Mi nombre es <span class="brown">Yordi Vargas,</span> nací el 16 de septiembre del 2002 en República Dominicana.</p>
            <br>
            <p>Desde niño me la pasaba mayor parte del tiempo jugando en mi ordenador, aunque también en el exterior con mis amigos pero era menos frecuente.</p>

            <br>

            <p>Pocos años después me fuí interesando por otras cosas, tenía curiosidad en entender como funcionan ciertas cosas que utilizaba y como podría formar parte de ello y elaborarlas por mi cuenta, a los 11 años me interesé en crear una páginas web, primero utilicé CMS, luego <span class="brown">HTML</span> y desde ese entonoces no he dejado de aprender.</p>


            <br>
            <p>
                Actualmente, en el momento en que redactó este mensaje soy un estudiante universitario y autodidacta que trabaja a diario para ampliar sus conocimientos en este mundo de la tecnología y poder crear cosas de utilidad con un aporte significativo.
            </p>
            

        </div>

    </div>


    
</body>
</html>