<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/header'); %>
    

    <!-- Scripts -->
    <script src="/javascripts/DarkMode.js"></script>
    
</body>
</html>